body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    color: #777777;
}
.col-7{
    width: 70%
}
.col-10{
    width: 100%
}
.col-5{
    width: 50%
}
.col-3{
    width: 30%
}
.flex-inline{
    display: flex;
    flex-direction: row;
}
.btn:hover {
    color: #fff;
    background: #16b8e2;
    border-color: #1292b3;
    -webkit-text-shadow: 0 1px 0 #1292b3;
    -moz-text-shadow: 0 1px 0 #1292b3;
    text-shadow: 0 1px 0 #1292b3;
    -webkit-box-shadow: inset 0 0 10px #18bbe6;
    -moz-box-shadow: inset 0 0 10px #18bbe6;
    box-shadow: inset 0 0 10px #18bbe6;
}
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 6px;
    color: #000;
    position: relative;
    font: bold 14px/31px "Roboto", sans-serif;
    text-transform: none;
    border: 1px solid #b8b8b8;
    -webkit-text-shadow: 0 -1px 0 #fff;
    -moz-text-shadow: 0 -1px 0 #fff;
    text-shadow: 0 -1px 0 #fff;
    -webkit-box-shadow: 0 14px 10px #dbdbdb inset;
    -moz-box-shadow: 0 14px 10px #dbdbdb inset;
    box-shadow: 0 14px 10px #dbdbdb inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    background: #fcfcfc;
}
img.img-responsive {
    margin: 0 auto;
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #19bde8;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
a:hover, a:focus {
    color: #333;
    text-decoration: none;
    outline: none;
}
.container{
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.flex-wrapped{
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.side-menu{
    width: 25%;
    margin-right: 5%;
    margin-bottom: 30px;
}
.side-menu > ul > li {
    text-align: left;
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.side-menu > ul > li > a:hover {
    color: #19bde8;
    padding-left: 14px;
    -webkit-box-shadow: 0 36px 15px -16px #cdcdcd inset;
    -moz-box-shadow: 0 36px 15px -16px #cdcdcd inset;
    box-shadow: 0 36px 15px -16px #cdcdcd inset;
}
.side-menu > ul > li > a {
    display: block;
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #000;
    border: 1px solid #b8b8b8;
    padding: 9px 12px;
    text-decoration: none;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-text-shadow: 0 -1px 0 #fff;
    -moz-text-shadow: 0 -1px 0 #fff;
    text-shadow: 0 -1px 0 #fff;
    -webkit-box-shadow: 0 36px 15px -16px #dbdbdb inset;
    -moz-box-shadow: 0 36px 15px -16px #dbdbdb inset;
    box-shadow: 0 36px 15px -16px #dbdbdb inset;
}
@media (max-width: 576px) {
    .side-menu{
        width: 100%;
        position: absolute;
        display: none;
        margin-right: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 1200px) {
    .container{
        width:100%
    }
}
@media (max-width:768px) {
    .side-menu > ul > li > a{
        font-size: 12px !important;
    }
}
@media (max-width: 991px) {
    .side-menu > ul > li > a{
        font-size: 14px;
    }

}