.models-choose .models-image{
    border: 1px solid #dbdbdb;
    padding: 9px;
    position: relative;
    background: white;
    margin-bottom: 9px;
    align-items: center;
    height: 135px;
}
.models-choose>li{
    padding-right: 15px;
    padding-left: 15px;
}
