.product_list{
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}
.product_list.list>li{
    width: 100%;
    height: 200px;
}
.product_list.grid>li {
    width:33%;
    padding: 0 5px;
}
.product_list>li{
    margin-bottom: 30px;
    display: flex;
    transition: all 0.5s ease-out;
}
.product_list.list .left-block{
    width:50%;
}
.product_list.list .left-block img{
    max-height: 100%;
}

.product_list.list .product-container{
    flex-direction: row;
}
.product_list.grid .product-container{
    flex-direction: column;
}
.product_list .product-container {
    background: rgba(239, 239, 239, 0.27);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.product-container .add-to-cart {
    margin-bottom: 7px;
}
.product_list.grid .button{
    display: flex;
    justify-content: space-around;
}
.product_list.list .button{
    display: flex;
    justify-content: flex-end;
}
.product_list.list .right-block{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.product_list.list .product-image-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.product-container .price {
    display: flex;
    align-items: flex-end;
}
.product_list.list .price {
    justify-content: flex-end;
}
.price .productSpecialPrice {
    font: 700 30px/40px "Roboto", sans-serif;
}
.normalprice {
    color: #777;
    font: 400 15px/20px "Roboto", sans-serif;
    text-decoration: line-through;
    padding: 0 0 0 7px;
    vertical-align: middle;
}
.product_list.grid .list-name{
    display: none;
}
.product_list.list .grid-name{
    display: none;
}
.product_list.list .car_model{
    text-align: right;
}
.product_list .car_model{
    font-size: 12px;
    margin-bottom: 5px;
}
span.productPriceDiscount {
    background: #3178ae;
    font: 400 11px/18px "Roboto", sans-serif;
    color: white;
    padding: 2px 6px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    margin-left: 0;
    position: relative;
    top: 0;
    display: inline-block;
}
.product_list .currency{
    color: #3178ae;
    font: 500 25px/40px "Roboto", sans-serif;
}
.product_list.list .producer{
    justify-content: flex-end;
}
.product_list.grid .producer{
    justify-content: space-between;
}
.product_list .producer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cartBoxTotal, .productSalePrice, .productSpecialPrice {
    color: #3178ae;
    font: 700 50px/40px "Roboto", sans-serif;
    vertical-align: middle;
}
.product_list .product-name {
    font: normal 16px/24px "Roboto", sans-serif;
    color: #252a33;
    margin: 0;
    text-transform: capitalize;
    padding: 0;
}
.product_list .product-name:hover {
    color: #3178ae;
}
.product_list.grid .right-block{
    padding-top: 10px;
}
.product_list.grid .product-image-container .product_img_link.cover-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    left:0;
    position: relative;
}
